/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.under-navbar {
  height: 60px;
}

.navbar-home {
  height: 60px;
}

.navbar-transparent {
  background-color: transparent;
  transition: 0.5s background-color ease;
}

/* Logo */
.navbar-wagon-logo img {
  height: 40px;
}

/* User Avatar */
.navbar .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-custom-item {
  margin-right: 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

.custom-dropdown-item {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  &:hover {
    color: black !important;
  }
  i {
    margin-right: 5px;
  }
}
